nav.principale {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 0 16px;
}

#burger {
  width: 16px;
  height: 16px;
  background: var(--noir);
  border-radius: 3px;
}

nav.fil {
  background: #f6f6f6;
  border-top: 1px solid #cecece;
  padding: 32px 16px;
}

nav.fil ul {
  display: flex;
  gap: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.857rem;
  line-height: 1.428rem;
}

nav.fil li {
  display: flex;
  align-items: center;
}

nav.fil a {
  color: #666;
}

nav.fil .precedent {
  color: #666;
  text-decoration: underline;
  text-underline-offset: 2px;
}
nav.fil .precedent::after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../../images/chevron.svg);
  margin-left: 4px;
}

#decouvre {
  background: #f6f6f6;
}

#decouvre h2 {
  background: var(--jaune);
  margin: 0;
  padding: 40px 16px 63px 16px;
  font-size: 3.428rem;
  line-height: 4rem;
  font-weight: 700;
  text-align: center;
}

.fiches {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fiche-metier {
  display: flex;
  background: white;
  border: 1px solid #ddd;
}

.fiche-metier img {
  width: 50%;
  object-fit: scale-down;
}

.fiche-metier .details {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

.details .identite {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.428rem;
  color: rgba(0, 0, 0, 0.5);
}
.details .metier {
  font-weight: 700;
  font-size: 1.285rem;
  line-height: 1.714rem;
  color: #000;
}
.details .en-savoir-plus {
  margin-top: 16px;
  line-height: 1.714rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.mais-aussi {
  padding-bottom: 32px;
  background: white;
}

.mais-aussi h3 {
  padding: 32px 0;
  text-align: center;
  margin: 0;
  font-size: 2.285rem;
  line-height: 2.857rem;
  font-weight: 700;
  background: white;
}

.mais-aussi .details {
  padding: 8px 16px 24px 16px;
  font-size: 1.142rem;
  line-height: 1.714rem;
  font-weight: 500;
  background: #f6f6f6;
}

.mais-aussi .action-boite {
  background: linear-gradient(to bottom, #f6f6f6 40%, white 10%);
}
.mais-aussi button.action {
  font-size: 1.285rem;
  line-height: 2rem;
  font-weight: 700;
  margin: auto;
}
.mais-aussi button.action::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url(../../images/lien-externe.svg);
}
