@media screen and (min-width: 1440px) {
  .marianne {
    transform: translateX(-12px);
  }

  nav.principale {
    max-width: 1200px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #menu-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 28px;
  }

  #menu-desktop a {
    text-decoration: none;
    color: var(--noir);
  }

  #menu-desktop #espace-enseignant::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    transform: translateY(2px);
    margin-right: 8px;
    content: "";
    background: url(../../images/cahier-dark.svg);
  }

  nav.fil ul {
    max-width: 1200px;
    margin: auto;
  }

  #decouvre {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 160px;
  }

  #decouvre h2 {
    padding-top: 48px;
    padding-bottom: 63px;
  }

  .fiches {
    max-width: 1200px;
    margin: auto;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fiche-metier {
    width: calc(50% - 24px);
  }

  .fiche-metier .details {
    padding: 24px;
  }

  .mais-aussi-boite {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .mais-aussi h3 {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .mais-aussi .details {
    align-self: center;
  }
}
