extends ../fragments/base
block variables
  - var titrePage = "Politique de confidentialité"
  - var descriptionPage = "En vigueur à partir du 01/11/2025"
  - var classePage = "page-confidentialite"


block contenu
    script(type="module" src="/scripts/optOutMatomo.js")
    dsfr-container
      .conteneur
        h2 Qui sommes-nous&nbsp;?
        p
          | DemainSpécialisteCyber est la plateforme pour faciliter l'accès des élèves et professeurs aux services et ressources éducatifs cyber.
          | Elle est conçue par
          |
          dsfr-link(href="https://www.ssi.gouv.fr/agence/missions/rapport-dactivite-2020/" label="le laboratoire d'innovation de l'ANSSI" blank)
          |, en étroite coordination avec le ministère de l’
          dsfr-link(href="https://www.education.gouv.fr/" label="Education nationale et de la Jeunesse" blank)
          |
          | et l'incubateur de services numériques
          |
          dsfr-link(href="https://beta.gouv.fr/startups/" label="“BetaGouv”" blank)
          |
          | de la direction interministérielle du numérique (DINUM).
        h2 Pourquoi traitons-nous des données à caractère personnel&nbsp;?
        p L'ANSSI traite des données identifiantes dans le but de&nbsp;:
        ul
          li Créer un compte par l’interface ProConnect pour l’équipe pédagogique des établissements scolaires afin d’avoir accès aux ressources pédagogiques et mettre en place le module « CyberEnJeux » en lien avec les élèves des établissements concernés.
          li Gérer la liste de diffusion de la lettre d'information de la solution.
        h2 Quelles sont les données à caractère personnel que nous traitons&nbsp;?
        ul
          li Données de compte&nbsp;: nom, prénom, adresse e-mail professionnelle, profession&nbsp;;
          li Données relatives à la lettre d'information&nbsp;: nom, prénom, adresse e-mail&nbsp;;
          li Données relatives à la traçabilité&nbsp;: logs et adresse IP.
        h2 Qu'est-ce qui nous autorise à traiter vos données à caractère personnel&nbsp;?
        p
          | L'ANSSI traite des données à caractère personnel en application de l'exécution de sa mission d'intérêt public dont
          | elle est investie en qualité de responsable de traitement, conformément à l'
          dsfr-link(href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr%23d1e1937-1-1" label="article 6-1 e) du RGPD" blank)
          | .
        p
          | Cette mission d'intérêt public est mise en œuvre par le
          |
          dsfr-link(href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000020828212" label="décret n° 2009-834 du 7 juillet 2009" blank)
          |
          | portant création d'un service à compétence nationale dénommé "Agence nationale de la sécurité des systèmes d'information",
          | notamment ses articles 3, 4 et 6.
        h2 Pendant combien de temps conservons-nous vos données&nbsp;?
        table
          thead
            tr
              th Catégories de données traitées
              th Durée de conservation
          tbody
            tr
              td Données de compte
              td 1 an à compter du dernier contact avec l'Utilisateur
            tr
              td Données relatives à la lettre d'information
              td Pendant toute la durée de l'abonnement, et pendant 6 mois après la désinscription
            tr
              td Données relatives à la traçabilité
              td Pendant 1 an, conformément à la LCEN
        h2 Qui peut avoir accès à vos données&nbsp;?
        p
          | Les destinataires des données à caractère personnel de l'utilisateur sont les personnels de l'ANSSI habilités
          | dans l'administration et la gestion du site ou de la lettre d'information.
        h2 Qui nous aide à traiter vos données à caractère personnel&nbsp;?
        p Certaines données sont envoyées à des sous-traitants, qui agissent pour le compte de l'ANSSI et sur ses instructions.
        table
          thead
            tr
              th Sous-traitant
              th Traitement réalisé
              th Pays destinataire
              th Garanties
          tbody
            tr
              td Clever Cloud
              td Hébergement des données
              td France
              td
                dsfr-link(href="https://www.clever-cloud.com/fr/conditions-generales-dutilisation/accord-de-traitement-des-donnees/" label="https://www.clever-cloud.com/fr/conditions-generales-dutilisation/accord-de-traitement-des-donnees/" blank)
            tr
              td Brevo
              td Gestion de la lettre d'information
              td France
              td
                dsfr-link(href="https://www.brevo.com/legal/termsofuse/#annex" label="https://www.brevo.com/legal/termsofuse/#annex" blank)
            tr
              td Crisp
              td Outil de support
              td France
              td
                dsfr-link(href="https://crisp.chat/fr/privacy/" label="https://crisp.chat/fr/privacy/" blank)
            tr
              td Grist
              td Tableur collaboratif
              td France
              td
                dsfr-link(href="https://grist.numerique.gouv.fr/o/dinum/2bvU3n7Xj1Cz/Informations-Grist/p/1" label="https://grist.numerique.gouv.fr/o/dinum/2bvU3n7Xj1Cz/Informations-Grist/p/1" blank)
        h2 Quels sont vos droits&nbsp;?
        p Vous disposez des droits suivants&nbsp;:
        ul
          li
            | droit d'information (articles
            |
            dsfr-link(href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr%23d1e2207-1-1" label="13 et 14 du RGPD" blank)
            |)&nbsp;;
          li
            | droit d'accès (article 15 du
            |
            dsfr-link(href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr" label="RGPD" blank)
            |)&nbsp;;
          li
            | de rectification, de mise à jour et de complétude de ses données (article 16 du
            |
            dsfr-link(href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr" label="RGPD" blank)
            |)&nbsp;;
          li
            | droit à la limitation du traitement de ses données (article 18 du
            |
            dsfr-link(href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr" label="RGPD" blank)
            |)&nbsp;;
          li
            | droit d'opposition (article
            |
            dsfr-link(href="https://eur-lex.europa.eu/eli/reg/2016/679/oj?locale=fr%23d1e2849-1-1" label="21 du RGPD" blank)
            |).
        p
          | Conformément à réglementation en vigueur relative à la protection des données à caractère personnel,
          | toute personne peut obtenir communication et, le cas échéant, rectification, suppression ou opposition des informations la concernant.
          | Vous pouvez exercer ces droits de plusieurs façons&nbsp;:
        ul
          li
            | en envoyant un courriel à l’ANSSI à l’adresse suivante&nbsp;:
            |
            dsfr-link(href="mailto:contact.rgpd@sgdsn.gouv.fr" label="contact.rgpd@sgdsn.gouv.fr")
          li
            | en envoyant un courriel au Délégué à la protection des données à l’adresse suivante&nbsp;:
            |
            dsfr-link(href="mailto:dpd@pm.gouv.fr" label="dpd@pm.gouv.fr")
          li en envoyant un courrier à l’ANSSI à l’adresse suivante&nbsp;:
            address
              | Agence nationale de la sécurité des systèmes d’information
              br
              | À l’attention de contact RGPD ANSSI
              br
              | 51 boulevard de La Tour-Maubourg
              br
              | 75700 PARIS 07 SP
          li en envoyant un courrier au Délégué à la protection des données à l’adresse suivante&nbsp;:
            address
              | Service du Premier ministre
              br
              | À l’attention du délégué à la protection des données (DPD)
              br
              | 56 rue de Varenne
              br
              | 75700 PARIS
        p Toute demande d’exercice de droits doit être accompagnée de la photocopie d’un justificatif d’identité.
        p
          | Le responsable de traitement s'engage à vous répondre dans un délai raisonnable qui ne dépasse pas 1 mois
          |  à compter de la réception de votre demande d'exercice de droits.
        p Pour la lettre d'information du service, un lien de désinscription est proposé lors de chaque envoi de la lettre.
        p
          | Si l'Utilisateur estime après avoir contacté l'ANSSI que les droits sur ses données n'ont pas été respectés,
          | il peut introduire une réclamation auprès de la CNIL.
        p
          dsfr-link(href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles" label="Voir le site de la CNIL pour plus d'informations sur les droits prévus par le RGPD")
          | .
        h2 Cookies et traceurs
        p
          | Un cookie est un fichier déposé sur votre terminal lors de la visite d'un site.
          | Il a pour objectif de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal
          | (ordinateur, mobile ou tablette).
        p En application de l'article 5-3 de la directive ePrivacy, transposée à l'article 82 de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les cookies et traceurs suivent deux régimes distincts&nbsp;:
          ul
            li
              | D'une part, les cookies strictement nécessaires au service ou ayant pour finalité exclusive de faciliter
              | la communication par voie électronique, sont dispensés de consentement préalable (article 82 susvisé).
            li
              | D'autre part, les cookies n'étant pas strictement nécessaires au service ou n'ayant pas pour
              | finalité exclusive de faciliter la communication par voie électronique, doivent être consenti par l'utilisateur.
              | Ce consentement de la personne concernée constitue une base légale au sens du RGPD (article 6-1 a).
        p Le site internet DemainSpécialisteCyber n’utilise pas de cookies ou autres types de traçeurs.
        p DemainSpécialisteCyber utilise l'outil de mesure d'audience Matomo, paramétré en mode "exempté" conformément aux recommandations de la CNIL. Ainsi, DemainSpécialisteCyber n'est pas tenu de recueillir le consentement des personnes concernées. Toutefois, vous pouvez, à tout moment, refuser d'être suivi de manière anonyme en décochant la case ci-dessous&nbsp;:
        p
          input(
            type="checkbox"
            id="consentement-matomo"
            name="consentement-matomo"
            checked
          )
          label(for="consentement-matomo" id="label-consentement-matomo")
        p Pour en savoir plus sur les cookies&nbsp;:
          ul
            li
              dsfr-link(href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi" label="Cookies et traceurs : que dit la loi ?")
            li
              dsfr-link(href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur" label="Cookies : les outils pour les maîtriser")
