extends ../fragments/base
block variables
  - var titrePage = "Sécurité"
  - var classePage = "page-securite"

block contenu
    dsfr-container
        .conteneur
            lab-anssi-resume-pssi(nomService=`${titreDSC}`)
