extends ../fragments/base

block variables
  - var titrePage = "Nos statistiques"
  - var descriptionPage = "L'impact de Demain\u200bSpécialiste\u200bCyber en quelques chiffres"
  - var classePage = "page-statistiques"

block contenu
    dsfr-container
        .conteneur.statistiques
            img.illustration(src="/assets/images/illustration-statistiques.svg" alt="Illustration des statistiques")
            h5 Les premiers résultats arrivent bientôt&nbsp;!
