# Recharge le shell quand npins modifie ses sources.
watch_file npins/sources.json npins/default.nix

# Charge automatiquement le shell défini dans default.nix.
# Première utilisation : `direnv allow`.
use nix
