@media screen and (min-width: 1024px) {
  #agir {
    max-width: 1200px;
    margin: auto;
  }

  #agir h2 {
    width: 736px;
    margin: auto;
  }

  #agir #agir-video {
    margin: 64px 0;
  }

  #agir .action {
    margin-bottom: 80px;
  }
}
