@media screen and (min-width: 768px) {
  #agir {
    padding-left: 16px;
    padding-right: 16px;
  }

  #agir h2 {
    font-size: 3.5rem;
    line-height: 4rem;
    width: 736px;
    margin: 0 auto;
    padding: 80px 0 0 0;
  }

  #agir #agir-video {
    margin: 64px 0;
  }

  #agir .action {
    margin-bottom: 80px;
  }
}
