#agir h2 {
  font-size: 2rem;
  text-align: center;
  padding: 40px 16px 0 16px;
  margin: 0;
}

#agir #agir-video {
  width: 100%;
  margin: 48px 0;
}

#agir .action {
  margin: 0 auto 56px auto;
  width: fit-content;
  font-size: 1.45rem !important;
  font-weight: 700 !important;
}
