#marque {
  padding: 0 16px;
  background: url(../../images/lancement.svg) var(--noir) no-repeat center;
  background-size: cover;
  background-position-x: calc(0.19 * 100vw - 30px);
  color: white;
}

#marque a {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

#marque img#bloc-marque {
  width: 100%;
  margin-top: 30px;
}

#marque h2 {
  text-transform: uppercase;
  text-align: justify;
  font-size: 3.6vw;
  margin: 0;
  padding-top: 17px;
}

#marque h2::after {
  content: "";
  display: inline-block;
  width: 100%;
}

#conteneur-carrousel {
  background: var(--noir);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

#conteneur-carrousel img {
  position: relative;
}

#conteneur-carrousel img:nth-child(2) {
  z-index: 2;
  transform: scale(1.1);
}
