@media screen and (min-width: 768px) {
  #metiers h2 {
    padding: 40px 0 64px 0;
    width: 570px;
    margin: auto;
    font-size: 3.43rem;
  }

  #metiers .carrousel-navigation {
    align-self: flex-end;
    column-gap: 16px;
  }

  .fiche-metier {
    min-width: 40%;
  }
  .fiche-metier .metier {
    font-size: 1.71rem;
    line-height: 2.29rem;
  }
  .fiche-metier .en-savoir-plus {
    font-size: 1.29rem;
    line-height: 2rem;
    margin-top: 24px;
  }

  #metiers button.action {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
