@media screen and (min-width: 1024px) {
  #metiers {
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  #carrousel-fiches-metiers {
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 0;
  }

  .fiche-metier {
    min-width: unset;
    width: 31.5%;
    padding-left: 0;
  }
  .fiche-metier:last-of-type {
    padding-right: 0;
  }
}
