extends base
include kit/nav-principale
include kit/nav-fil-ariane
include kit/bloc-contenu-informatif

block append styles
  link(href='/assets/styles/contenu-informatif/contenu-informatif.css', rel='stylesheet')
  link(href='/assets/styles/contenu-informatif/contenu-informatif.tablette.css', rel='stylesheet')
  link(href='/assets/styles/contenu-informatif/contenu-informatif.desktop.css', rel='stylesheet')


block body
  +navPrincipale()
  +navFilAriane('Politique de confidentialité')

  #politique-confidentialite.contenu-informatif
    h1 À propos
    +blocContenu(
        "",
        [
            "DemainSpécialisteCyber est un site d’information destiné aux élèves de cycle 4, cycle terminal et étudiant/es visant à faire connaître la cybersécurité et ses métiers. DemainSpécialisteCyber s’adresse également aux enseignants souhaitant acculturer leurs élèves aux enjeux de cybersécurité.",
            "DemainSpécialisteCyber est conçu par <a href='https://cyber.gouv.fr/'>le laboratoire d'innovation de l'ANSSI</a> en étroite coordination avec le Campus Cyber et le ministère de l’Education nationale et de la Jeunesse.",
            "Le site DemainSpécialisteCyber est sous licence <a href='https://github.com/betagouv/anssi-demain-specialiste-cyber/blob/master/LICENSE'>Apache-2.0</a>.",
            "<a href='https://github.com/betagouv/anssi-demain-specialiste-cyber'>Le code est accessible en ligne</a>.",
            "Pour toute question ou suggestion concernant DemainSpécialisteCyber, contactez l'équipe du Lab sur <a href='mailto:lab-innov@ssi.gouv.fr'>lab-innov@ssi.gouv.fr</a>"
        ]
    )
  .gap