doctype html
html(lang = 'fr', xml:lang = 'fr', xmlns = 'http://www.w3.org/1999/xhtml')
  meta(charset='utf-8')
  meta(name = 'viewport', content = 'width=device-width')
  block styles
    link(href='/assets/styles/fonts.css', rel='stylesheet')
    link(href='/assets/styles/site.css', rel='stylesheet')
    link(href='/assets/styles/footer.css', rel='stylesheet')
    link(href='/assets/styles/footer.tablette.css', rel='stylesheet')
    link(href='/assets/styles/footer.desktop.css', rel='stylesheet')

  title DemainSpécialisteCyber

  body
    block body

    footer
      .footer-boite
        .nous
          img.marianne(src='/assets/images/marianne-dark.svg')
          .demain-spe-cyber
            | DemainSpécialisteCyber est une campagne nationale co-construite
            | par l’ANSSI et son laboratoire d’innovation, le Ministère de
            | l’Education Nationale et de la Jeunesse et le Campus Cyber, en vue
            | de valoriser la cybersécurité et ses métiers.
            .sites-gouv
              a(href='#') legifrance.gouv.fr
              a(href='#') service-public.fr
              a(href='#') gouvernement.fr
              a(href='#') data.gouv.fr
        .partenaires
          div Nos partenaires :
          .galerie
            img(src='/assets/images/placeholder-partenaire.png')
            img(src='/assets/images/placeholder-partenaire.png')
            img(src='/assets/images/placeholder-partenaire.png')
            img(src='/assets/images/placeholder-partenaire.png')
        .infos-legales
          a(href='#') Plan du site
          a(href='#') Accessibilité
          a(href='#') Mentions légales
          a(href='#') Données personnelles
          a(href='#') Gestion des cookies
        .licence.
          Sauf mention contraire, tous les contenus de ce site
          sont sous
          #[a(href='https://github.com/etalab/licence-ouverte/blob/master/LO.md' target = '_blank', rel = 'noopener') licence etalab-2.0]