doctype html
html(lang = 'fr', xml:lang = 'fr', xmlns = 'http://www.w3.org/1999/xhtml')
  meta(charset='utf-8')
  meta(name = 'viewport', content = 'width=device-width')
  each taille in [16, 24, 48, 96, 144]
    link(rel="icon" href=`/assets/favicon/favicon_${taille}.png` sizes=`${taille}x${taille}` type="image/png")
  block styles
    link(href='/assets/styles/fonts.css', rel='stylesheet')
    link(href='/assets/styles/site.css', rel='stylesheet')
    link(href='/assets/styles/footer.css', rel='stylesheet')
    link(href='/assets/styles/footer.tablette.css', rel='stylesheet')
    link(href='/assets/styles/footer.desktop.css', rel='stylesheet')
  block script
    script(type='text/javascript' src='/assets/librairies/jquery-3.7.1.min.js')
    script(type='text/javascript' src='/assets/scripts/nav-principale.js')

  block title
    title DemainSpécialisteCyber

  body
    main
      block body

    block footer
      footer
        .footer-boite
          .nous
            img.marianne(src='/assets/images/marianne-dark.svg' alt="Retour à l'accueil")
            .demain-spe-cyber
              | DemainSpécialisteCyber est une campagne nationale co-construite
              | par l’ANSSI et son laboratoire d’innovation, le Ministère de
              | l’Education Nationale et de la Jeunesse et le Campus Cyber, en vue
              | de valoriser la cybersécurité et ses métiers.
              .sites-gouv
                a(href='https://www.legifrance.gouv.fr/' target="_blank" rel="noopener noreferrer" title="legifrance.gouv.fr | Nouvelle fenêtre") legifrance.gouv.fr
                a(href='https://www.service-public.fr/' target="_blank" rel="noopener noreferrer" title="service-public.fr | Nouvelle fenêtre") service-public.fr
                a(href='https://www.gouvernement.fr/' target="_blank" rel="noopener noreferrer" title="gouvernement.fr | Nouvelle fenêtre") gouvernement.fr
                a(href='https://www.data.gouv.fr/fr/' target="_blank" rel="noopener noreferrer" title="data.gouv.fr | Nouvelle fenêtre") data.gouv.fr
          .partenaires
            div Nos partenaires :
            a(href='/partenaires').galerie
              img(src='/assets/images/partenaires/MinistereEducation.svg' alt="Ministère de l'éducation")
              img(src='/assets/images/partenaires/ANSSI.svg' alt="ANSSI")
              img(src='/assets/images/partenaires/CampusCyber.svg' alt="Campus Cyber")
              img(src='/assets/images/partenaires/FranceTV.svg' alt="FranceTv")
          .infos-legales
            a(href='/a-propos') À propos
            a(href='/plan-site') Plan du site
            a(href='/mentions-legales') Mentions légales
            a(href='/politique-confidentialite') Politique de confidentialité
            a(href='/la-campagne#affiches-visuels') Kit de communication
            a(href='/accessibilite') Accessibilité : non conforme
          .licence.
            Sauf mention contraire, tous les contenus de ce site
            sont sous
            #[a(href='https://github.com/etalab/licence-ouverte/blob/master/LO.md' target = '_blank', rel = 'noopener') licence etalab-2.0]