extends base
include kit/nav-principale

block title
  title Erreur limite de trafic | DemainSpécialisteCyber

block body
  +navPrincipale()
  h1 DemainSpécialisteCyber fait face à trop de trafic
  h2 Veuillez réessayer dans quelques instants
