extends base
include kit/nav-principale
include kit/nav-fil-ariane

block append styles
  link(href='/assets/styles/espace-enseignant/espace-enseignant.css', rel='stylesheet')

block body
  +navPrincipale()
  +navFilAriane('Espace enseignant')

  #titre
    h2 Vous êtes enseignant·e ?
    h4 Ou vous travaillez au sein du ministère de l’éducation nationale et de la jeunesse ?

  .chapitre
    h3 Formez vos élèves à la cyber
    .accroche.
      Vous pouvez vous-même formez vos élèves à la cybersécurité
      grâce au kit pédagogique CyberEnjeux et à la présentation.
    .ressources
      .ressource
        .nom Télécharger 13 fiches et cartes pédagogiques sur la cybersécurité et une présentation clé en main
        .fichier PPTX – 61,88 Ko