doctype html
html(lang = 'fr', xml:lang = 'fr', xmlns = 'http://www.w3.org/1999/xhtml')
  meta(charset='utf-8')
  meta(name = 'viewport', content = 'width=device-width')
  link(href='/assets/styles/site.css', rel='stylesheet')

  title DemainSpécialisteCyber

  body
    #marque-fond
      .grand-ecran#marque-cadre
        nav.gouttiere
          div
            img#marianne(src='/assets/images/marianne.svg')
          .liens
            div Découvrez les métiers
            div Zoom sur la campagne
            #espace-enseignant Espagne enseignant

        .gouttiere
          img#bloc-marque(src='/assets/images/bloc-marque.svg')
          p Découvrez la cybersécurité et ses métiers

    #agir-fond
      .grand-ecran.cadre#agir-cadre
        h2.titre-cadre Agir pour prévenir les #[br] cyberattaques et y répondre
        img#agir-video(controls, width=1200, src=`/assets/videos/${videoAgir}`)
        button.action Découvre la campagne

    #metiers-fond
      .grand-ecran.cadre#metiers-cadre
        h2.titre-cadre Découvre les métiers #[br] des Spécialistes Cyber
        .carrousel-fiches-metiers
          each f in fichesMetiers
            .fiche-metier
              img(control, width=384, src=`/assets/videos/fiche-metier-video-${f.idVideo}-placeholder.png`)
              .identite #{f.identite}
              .metier #{f.metier}
              .en-savoir-plus En savoir plus
        button.action Accède aux témoignages

    #stats-fond
      .grand-ecran.cadre#stats-cadre
        .gouttiere
          .info.info-1
            .titre 52 000 emplois en cybersécurité en France
            .details.
              Cela représente une hausse de 16% par rapport à 2021. La stratégie nationale
              d’accélération cybersécurité, lancée en 2021, a pour objectif de créer 37 000
              emplois d’ici 2025.
            .source Source
          .info.info-2
            .titre Une volonté forte de féminiser les métiers de la cyber
            .details.
              Seul 11% des professionnels de la cybersécurité en 2021 sont des femmes
            .source Source
          .info.info-3
            .titre 71% des professionnels recrutés en cyber
            .details sur les 5 dernières années n’ont pas pour expertise d’origine la cybersécurité
            .source Source
