extends base

block append styles
  link(href='/assets/styles/marque.css', rel='stylesheet')
  link(href='/assets/styles/marque.tablette.css', rel='stylesheet')
  link(href='/assets/styles/marque.desktop.css', rel='stylesheet')
  link(href='/assets/styles/agir.css', rel='stylesheet')
  link(href='/assets/styles/agir.tablette.css', rel='stylesheet')
  link(href='/assets/styles/agir.desktop.css', rel='stylesheet')
  link(href='/assets/styles/metiers.css', rel='stylesheet')
  link(href='/assets/styles/metiers.tablette.css', rel='stylesheet')
  link(href='/assets/styles/metiers.desktop.css', rel='stylesheet')
  link(href='/assets/styles/stats.css', rel='stylesheet')
  link(href='/assets/styles/stats.tablette.css', rel='stylesheet')
  link(href='/assets/styles/stats.desktop.css', rel='stylesheet')
  link(href='/assets/styles/defi.css', rel='stylesheet')
  link(href='/assets/styles/defi.tablette.css', rel='stylesheet')
  link(href='/assets/styles/defi.desktop.css', rel='stylesheet')
  link(href='/assets/styles/former.css', rel='stylesheet')
  link(href='/assets/styles/former.tablette.css', rel='stylesheet')
  link(href='/assets/styles/former.desktop.css', rel='stylesheet')

block body
  #marque
    nav
      img.marianne(src='/assets/images/marianne.svg')
      .responsive-invisible-desktop#burger
      .responsive-visible-desktop#menu-desktop
        div Découvrez les métiers
        div Zoom sur la campagne
        #espace-enseignant Espagne enseignant

    .responsive-invisible-tablette
      img#bloc-marque(src='/assets/images/bloc-marque.svg')
      h2 Découvrez la cybersécurité et ses métiers

    #conteneur-marque.responsive-visible-tablette
      #boite-marque
        img#bloc-marque-tablette(src='/assets/images/bloc-marque.svg')
        h2 Découvrez la cybersécurité et ses métiers
      #boite-heros
        img#heros(src='/assets/images/heros.svg')

  div#conteneur-carrousel.responsive-invisible-tablette
    img(src='/assets/images/elliot.svg')
    img(src='/assets/images/leila.svg')
    img(src='/assets/images/alix.svg')

  #agir
    h2 Agis pour prévenir les cyberattaques et y répondre
    img#agir-video(src=`/assets/videos/${videoAgir}`)
    button.action Découvre la campagne

  #metiers
    h2 Découvre les métiers des Spécialistes Cyber
    .carrousel-navigation.responsive-invisible-desktop
      .fleche-gauche
      .fleche-droite Témoignage suivant
    #carrousel-fiches-metiers
      each f in fichesMetiers
        .fiche-metier
          img(src=`/assets/videos/fiche-metier-video-${f.idVideo}-placeholder.png`)
          .identite #{f.identite}
          .metier #{f.metier}
          .en-savoir-plus En savoir plus
    button.action Accède aux témoignages

  #stats
    .carrousel-navigation.responsive-invisible-tablette
      .fleche-gauche
      .fleche-droite Statistique suivante
    #infos-boite
      #infos
        img(src='/assets/images/cyberdefense.svg').decor.responsive-invisible-mobile.responsive-visible-tablette
        .info.info-1
          .titre.responsive-invisible-tablette 52 000 emplois
          .titre.responsive-invisible-mobile.responsive-visible-tablette 52 000 spécialistes cyber en France aujourd'hui, des milliers à pourvoir demain
          .details.
            La stratégie nationale d’accélération cybersécurité a pour objectif de créer 37 000 emplois d’ici 2025.
          .source Source
        .info.info-2
          .titre Féminisons les métiers de la cybersécurité !
          .details.
            11% seulement des spécialistes cyber sont des femmes.
          .source Source
        .info.info-3
          .titre 71% des spécialistes cyber… n'ont pas étudié la cybersécurité
          .source Source

  #defi
    h2 Deviens le spécialiste cyber de demain !
    #defis-boite
      #defis
        img(src='/assets/images/defi.svg').decor.responsive-invisible-mobile.responsive-visible-tablette
        .defi
          img.logo#logo-ozint(src='/assets/images/logo-ozint.png')
          div
            .titre Mène tes recherches sur le web comme les spécialistes cyber
            .details.
              Tel un détective, résous les énigmes cyber, relève les défis et deviens la
              « Légende » du web ! Retrouve nos enquêtes sur sur la platerfome TOP proposée
              par le Campus Cyber !
          button.action Accepte le défi !
        .defi
          img.logo#logo-pix(src='/assets/images/logo-pix.png')
          div
            .titre Teste ton niveau sur les sujets du numérique
            .details.
              Le choix d’un mot de passe n’a plus de secret pour toi ?
              Tu sais reconnaître une page sécurisée ?
              Tu connais l’utilité d’un certificat ? Si tu hésites un peu,
              entraîne-toi sur Pix proposé par l’Éducation nationale.
          button.action Découvre Pix !

  #former
    h2 Commence à te former à la cybersécurité
    #formations
      .formation.responsive-invisible-desktop
        p.
          Télécharge des fiches simples créées par
          l'Agence nationale de la sécurité des systèmes
          d'information (ANSSI) pour comprendre la base de la
          cybersécurité.
        .action-boite
          button.action Télécharge les fiches
      .formation.responsive-invisible-desktop
        p.
          Dans ce MOOC, tu trouveras des informations pour approfondir
           tes connaissances et agir efficacement sur ta protection numérique.
        .action-boite
          button.action Découvre le MOOC

      .formation.responsive-visible-desktop
        .titre Des fiches pédagogiques simples pour t’initier à la cybersécurité
        .details.
          Télécharge des fiches simples créées par l'Agence nationale de la
          sécurité des systèmes d'information (ANSSI) pour comprendre la base de
          la cybersécurité.
        button.action Télécharge les fiches d’apprentissage
      .formation.responsive-visible-desktop
        .titre Pour les (déjà) spécialistes, un MOOC très complet sur la cybersécurité
        .details.
          Dans ce MOOC, tu trouveras des informations pour approfondir tes connaissances et
           agir efficacement sur ta protection numérique.
        button.action Découvre le MOOC