doctype html
html(lang = 'fr', xml:lang = 'fr', xmlns = 'http://www.w3.org/1999/xhtml')
  meta(charset='utf-8')
  meta(name = 'viewport', content = 'width=device-width')
  link(href='/assets/styles/site.css', rel='stylesheet')
  link(href='/assets/styles/site.responsive.css', rel='stylesheet')
  link(href='/assets/styles/lancement.css', rel='stylesheet')
  link(href='/assets/styles/lancement.responsive.css', rel='stylesheet')

  title DemainSpécialisteCyber

  body
    .grand-ecran
      img#marianne(src='/assets/images/marianne.svg')
      #lancement
        img#bloc-marque(src='/assets/images/bloc-marque.svg')
        h1#titre Découvrez la cybersécurité et ses métiers
        h1#date-lancement #{dateDeMep.toLocaleDateString()}