extends base

block append styles
  link(href='/assets/styles/lancement.css', rel='stylesheet')

block body
  nav
    img#marianne(src='/assets/images/marianne.svg')
  #lancement
    #boite-marque
      img#bloc-marque(src='/assets/images/bloc-marque.svg')
      h2 Découvrez la cybersécurité et ses métiers

    h1#date-lancement #{dateDeMep.toLocaleDateString("fr-FR")}