extends base

block append styles
  link(href='/assets/styles/lancement.css', rel='stylesheet')
  link(href='/assets/styles/lancement.responsive.css', rel='stylesheet')

block body
  .piste
    img#marianne(src='/assets/images/marianne.svg')
    #lancement
      img#bloc-marque(src='/assets/images/demain-specialiste-cyber.svg')
      h1#date-lancement #{dateDeMep.toLocaleDateString("fr-FR")}