extends base
include kit/nav-principale
include kit/nav-fil-ariane
include kit/bloc-contenu-informatif

block title
  title Accessibilité | DemainSpécialisteCyber

block append styles
  link(href='/assets/styles/contenu-informatif/contenu-informatif.css', rel='stylesheet')
  link(href='/assets/styles/contenu-informatif/contenu-informatif.tablette.css', rel='stylesheet')
  link(href='/assets/styles/contenu-informatif/contenu-informatif.desktop.css', rel='stylesheet')

block body
  +navPrincipale()
  +navFilAriane('Accessibilité')

  #politique-confidentialite.contenu-informatif
    h1 Déclaration d’accessibilité
    +blocContenu(
        "",
        [
            "Le site DemainSpécialisteCyber est développé selon les recommandations du référentiel général d’amélioration de l’accessibilité (RGAA) pour être accessible à tous les usagers quel que soit le matériel ou le logiciel utilisé pour naviguer sur internet.",
            "Cette déclaration d’accessibilité s’applique au site DemainSpécialisteCyber.",
            "<strong>Un audit est prévu avant la fin de l’année 2023.</strong>",
        ]
    )
    +blocContenu("État de conformité", ["En l’abscence d’audit, le site est non conforme avec le RGAA 4."],)
    +blocContenu("Retour d’information et contact", [
        "Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez nous contacter par courriel à l’adresse <a href='mailto:lab-innov@ssi.gouv.fr'><strong>lab-innov@ssi.gouv.fr</strong></a> pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme."
        ]
    )
    +blocContenu("Défenseur des droits", [
        "Si vous constatez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site, que vous nous le signalez et que vous ne parvenez pas à obtenir une réponse rapide de notre part, vous êtes en droit de faire parvenir <a href='https://www.defenseurdesdroits.fr/nous-contacter-355' rel='noopener' target='_blank'>vos doléances ou une demande de saisine au Défenseur des droits</a>."
      ]
    )
  .gap