extends base
include kit/nav-principale

block title
  title Erreur limite de trafic | DemainSpécialisteCyber

block append styles
  style.
    h1, h2 { text-align: center; }
    h1 { margin-top: 10vh; }
    h2 { margin-bottom: 10vh; }


block body
  +navPrincipale()
  h1 DemainSpécialisteCyber fait face à trop de trafic
  h2 Veuillez réessayer dans quelques instants
