extends base

block append styles
  style
    include ../public/assets/styles/lancement.css

block body
  header
    nav
      img.marianne(src='/assets/images/marianne.svg' alt="Retour à l'accueil")
  #lancement
    #boite-marque
      h1 Demain
        span(style="display: block;") spécialiste
        span(style="display: block;") cyber
      h2 Découvrez la cybersécurité et ses métiers

    h3#date-lancement #{dateDeMep.toLocaleDateString("fr-FR")}

block footer
  // Pas de footer sur la page de lancement