extends base

block append styles
  link(href='/assets/styles/lancement.css', rel='stylesheet')

block body
  header
    nav
      img.marianne(src='/assets/images/marianne.svg' alt="Retour à l'accueil")
  #lancement
    #boite-marque
      img#bloc-marque(src='/assets/images/bloc-marque.svg' alt="")
      h2 Découvrez la cybersécurité et ses métiers

    h1#date-lancement #{dateDeMep.toLocaleDateString("fr-FR")}

block footer
  // Pas de footer sur la page de lancement