extends base

block append styles
  style
    include ../public/assets/styles/lancement.css

block body
  header
    nav
      img.marianne(src='/assets/images/marianne.svg' alt="Retour à l'accueil")
  #lancement
    #boite-marque
      img#bloc-marque(src='/assets/images/bloc-marque.svg' alt="Demain spécialiste cyber")
      h1 Découvrez la cybersécurité et ses métiers

    h2#date-lancement #{dateDeMep.toLocaleDateString("fr-FR")}

block footer
  // Pas de footer sur la page de lancement