extends base
include kit/nav-principale
include kit/nav-fil-ariane

block title
  title Les contributeurs | DemainSpécialisteCyber

block append styles
  style
    include ../public/assets/styles/partenaires/partenaires.css
    include ../public/assets/styles/partenaires/partenaires.tablette.css
    include ../public/assets/styles/partenaires/partenaires.desktop.css

block body
  +navPrincipale()
  +navFilAriane('Les partenaires')

  #partenaires
    h1 Les contributeurs de la campagne
    h2 Les organisateurs
      .conteneur-partenaires
        img(src="/assets/images/partenaires/MinistereEducation.svg" alt="Ministère de l'éducation")
        img(src="/assets/images/partenaires/ANSSI.svg" alt="ANSSI")
        img(src="/assets/images/partenaires/CampusCyber.svg" alt="CampusCyber")
    h2 Les partenaires
      .conteneur-partenaires
        img(src="/assets/images/partenaires/FranceTV.svg" alt="FranceTv")
    h2 Les soutiens officiels
      .conteneur-partenaires
        img(src="/assets/images/partenaires/Cybermalveillance.svg" alt="CyberMalveillance")
        img(src="/assets/images/partenaires/PIX.svg" alt="PIX")
        img(src="/assets/images/partenaires/Canope.svg" alt="Canopé")
        img(src="/assets/images/partenaires/CNED.svg" alt="CNED")
        img(src="/assets/images/partenaires/ComCyberGend.svg" alt="ComCyberGend")
        img(src="/assets/images/partenaires/ComCyber.svg" alt="ComCyber")
        img(src="/assets/images/partenaires/MinistereTravail.svg" alt="Ministère du travail")
        img(src="/assets/images/partenaires/DGE.svg" alt="DGE")
        img(src="/assets/images/partenaires/CNAM.svg" alt="CNAM")
        img(src="/assets/images/partenaires/Diagoriente.svg" alt="DiagOriente")
  .gap