extends base
include kit/nav-principale
include kit/nav-fil-ariane

block title
  title Plan du site | DemainSpécialisteCyber

block append styles
  style
    include ../public/assets/styles/plan-site/plan-site.css
    include ../public/assets/styles/plan-site/plan-site.tablette.css
    include ../public/assets/styles/plan-site/plan-site.desktop.css

block body
  +navPrincipale()
  +navFilAriane('Plan du site')

  #plan-site
    h1 Plan du site
    ul
      a(href="/")
        li Accueil
          ul
            a(href="/les-metiers")
              li Découvrir les métiers
            a(href="/la-campagne")
              li Découvrir la campagne
            a(href="/espace-enseignant")
              li Espace enseignant
            a(href="/a-propos")
              li À propos
            a(href="/mentions-legales")
              li Mentions légales
            a(href="/politique-confidentialite")
              li Politique de confidentialité
            a(href="/accessibilite")
              li Accessibilité
            a(href="/partenaires")
              li Les partenaires

  .gap