extends base
include kit/nav-principale
include kit/nav-fil-ariane
include kit/bloc-contenu-informatif

block title
  title Politique de confidentialité | DemainSpécialisteCyber

block append styles
  style
    include ../public/assets/styles/contenu-informatif/contenu-informatif.css
    include ../public/assets/styles/contenu-informatif/contenu-informatif.tablette.css
    include ../public/assets/styles/contenu-informatif/contenu-informatif.desktop.css
    .
      .conteneur-checkbox {
        margin-top: -1.5em;
        margin-bottom: 32px;
      }
      #label-consentement-matomo {
        font-size: 1.1em;
        margin-left: 0.5em;
      }

block body
  +navPrincipale()
  +navFilAriane('Politique de confidentialité')

  #politique-confidentialite.contenu-informatif
    h1 Politique de confidentialité
    +blocContenu(
        "Traçabilité",
        [
            "Le site internet DemainSpécialisteCyber n’utilise pas de cookies ou autres types de traçeurs.",
            "DemainSpécialisteCyber utilise l'outil de mesure d'audience Matomo, paramétré en mode \"exempté\" conformément aux recommandations de la CNIL. Ainsi, DemainSpécialisteCyber n'est pas tenu de recueillir le consentement des personnes concernées. Toutefois, vous pouvez, à tout moment, refuser d'être suivi de manière anonyme en décochant la case ci-dessous :"
        ]
    )
    .conteneur-checkbox
      input(type="checkbox" id="consentement-matomo" name="consentement-matomo")
      label(for="consentement-matomo" id="label-consentement-matomo")

    +blocContenu(
        "Droit d’accès, de modification, de suppression et d’opposition",
        [
            "Conformément à réglementation en vigueur relative à la protection des données à caractère personnel, toute personne peut obtenir communication et, le cas échéant, rectification, suppression ou opposition des informations la concernant. Vous pouvez exercer ces droits de plusieurs façons :",
            "<ul><li>en envoyant un courriel à l’ANSSI à l’adresse suivante : <a href='mailto:contact.rgpd@sgdsn.gouv.fr'>contact.rgpd@sgdsn.gouv.fr</a></li>" +
            "<li>en envoyant un courriel au Délégué à la protection des données à l’adresse suivante : <a href='mailto:dpd@pm.gouv.fr'>dpd@pm.gouv.fr</a></li>" +
            "<li>en envoyant un courrier à L’ANSSI à l’adresse suivante : Agence nationale de la sécurité des systèmes d’information - À l’attention de contact RGPD ANSSI - 51 boulevard de La Tour-Maubourg 75700 PARIS 07 SP</li>" +
            "<li>en envoyant un courrier au Délégué à la protection des données à l’adresse suivante : Service du Premier ministre - À l’attention du délégué à la protection des données (DPD) - 56 rue de Varenne 75700 PARIS</li></ul>",
            "Toute demande d’exercice de droits doit être accompagnée de la photocopie d’un justificatif d’identité."
        ]
    )
    +blocContenu(
        "Réclamation (plainte) auprès de la CNIL",
        [
            "Si vous estimez, après nous avoir contactés, que vos droits sur vos données ne sont pas respectés, vous pouvez adresser une réclamation (plainte) à la CNIL.",
        ]
    )
  .gap

  script(src='/assets/scripts/optout-matomo.js')