@media screen and (min-width: 768px) {
  #titre {
    padding: 48px 16px 84px 16px;
  }

  #titre h1 {
    font-size: 3.428rem;
    width: 736px;
    margin: auto;
  }
  #titre h2 {
    font-size: 2.285rem;
    width: 736px;
    margin: auto;
  }

  .chapitres {
    padding-top: 12px;
    padding-bottom: 74px;
  }

  .chapitre h3 {
    padding-top: 68px;
    font-size: 2.285rem;
    line-height: 2.857rem;
  }

  .formations {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .formations h3 {
    font-size: 2.285rem;
    line-height: 2.857rem;
    padding-bottom: 12px;
  }

  .formation .ressource {
    margin-top: 24px;
  }

  .ressource .nom {
    font-size: 1.571rem;
    line-height: 2rem;
  }
  .ressource .fichier {
    font-size: 0.857rem;
    line-height: 1.428rem;
  }
  .ressource .fichier::after {
    width: 24px;
    height: 24px;
  }

  .gap {
    height: 80px;
  }
}
