.soutiens {
  padding: 3.5rem 1rem;

  h2 {
    margin: 0 0 2rem;
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem 5.5rem;
    justify-content: center;

    li {
      align-items: center;

      img[alt='ComCyberGend'] {
        width: 112px;
      }
    }
  }

  .actions {
    margin: 3rem 0 0;
    display: flex;
    flex-direction: column;

    dsfr-button {
      align-self: center;
    }
  }

}
