@use 'points-de-rupture' as *;

.selections {
  background-color: #a94645;
  padding: 3.5rem 0;

  .cartes {
    display: grid;
    grid-template-rows: auto;
    gap: 1.5rem;
    margin-top: 2rem;
    position: relative;

    dsfr-card {
      z-index: 1;
    }

    @include a-partir-de(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include a-partir-de(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include a-partir-de(lg) {
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: calc(100% + 8rem);
        background: url(/assets/images/analyste-cyber.svg) no-repeat bottom 0
          right 0;
        background-size: auto 100%;
        z-index: 0;
        bottom: -3.5rem;
        right: -4.5rem;
      }
    }
  }
}
