@use 'points-de-rupture' as *;

.page-passe-ton-hack-d-abord {
  dsc-heros {
    @include a-partir-de(lg) {
      --heros-fond:
        linear-gradient(
          90deg,
          #ececfe 0%,
          #ececfe 50%,
          #f5f5fe00 calc(50% + 600px),
          #f5f5fe00 100%
        ),
        url('/assets/images/passe-ton-hack-d-abord/hero-fond.avif') right
          center / 100% repeat;
    }

    h1.titre-alternatif-xs {
      margin: 0 0 12px;
    }

    p {
      margin: 0;

      &:last-of-type {
        margin: 0 0 24px;
      }
    }

    .actions {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 40px;
    }

    .illustration-conteneur {
      display: contents;
    }

    img.illustration {
      display: block;
      width: 100%;
      max-width: 36.75rem;
      height: auto;
      margin-bottom: 48px;

      @include a-partir-de(lg) {
        align-self: center;
        margin-top: -3rem;
        margin-bottom: 0;
        margin-inline: auto;
        max-width: 27.25rem;
      }
    }
  }
}
