@use 'points-de-rupture' as *;

.page-evenements {
  .evenements {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    & > dsfr-button {
      display: none;
      margin: 0 0 2rem auto;

      @include a-partir-de(md) {
        display: block;
      }
    }
  }

  .umap {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;

    img {
      aspect-ratio: 1200 / 1107;
      max-width: 100%;
    }
  }
}
