block variables
  - var titrePage
  - var descriptionPage
  - var classePage
  - var sansNavigation //- à mettre a "true" sur les pages où la navigation doit être masquée
  - var sansZoneIdentification //- à mettre a "true" sur les pages où la zone d'identification doit être masquée

doctype html
html(lang='fr')
  head
    include prologue
    script(defer src=`/${dsc}` nonce= nonce)

  body(class= classePage)
    include entete
    block avant-contenu
    main#contenu
      block contenu
    block apres-contenu
    include pied-de-page

    script(
      src=`https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/${versionUIKit}/lab-anssi-ui-kit.iife.js`
      nonce= nonce
    )
