block variables
  - var titrePage = ""
  - var descriptionPage = ""

header.entete
    dsc-entete
    block hero
        div.hero
            lab-anssi-bandeau-titre(titre= titrePage description= descriptionPage)
