block variables
  - var titrePage = ""
  - var descriptionPage = ""

header.entete
    dsc-entete(sans-navigation=sansNavigation || false sans-zone-identification=sansZoneIdentification || false)
    block hero
        div.hero
            lab-anssi-bandeau-titre(titre= titrePage description= descriptionPage)
