block variables
  - var titrePage = "DemainSpécialisteCyber"
  - var descriptionPage = ""

doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title DemainSpécialisteCyber
    script(type='module' defer src=`/${dsc}`)
    link(rel="stylesheet" type="text/css" href=`/${style}`)

  body
    include ./entete
    block avant-contenu
    main
      block contenu
    block apres-contenu
    include ./pied-de-page

    script(
      src='https://lab-anssi-ui-kit-prod-s3-assets.cellar-c2.services.clever-cloud.com/1.24.0/lab-anssi-ui-kit.iife.js'
      nonce= nonce
    )
