extends base
block variables
  - var titrePage = "Catalogue de ressources"
  - var descriptionPage = "Challenges, vidéos, guides, formations… Un catalogue pensé pour les enseignants et élèves pour découvrir la cybersécurité, se former et explorer les métiers de ce secteur en plein essor."
  - var afficheSelections = true
block contenu
  dsc-catalogue 
