extends fragments/base
block variables
  - var titrePage = "Catalogue de ressources"
  - var descriptionPage = "Challenges, vidéos, guides, formations… Un catalogue pensé pour les enseignants et élèves pour découvrir la cybersécurité, se former et explorer les métiers de ce secteur en plein essor."
  - var classePage = "page-catalogue"
  - var ariane = []
  - ariane[0] = { id: 'accueil', label: 'Accueil', href: '/' }
  - ariane[1] = { id: 'catalogue', label: 'Catalogue de ressources', href: '#' }
  - var herosAvecFiltres = true

block contenu
  dsc-catalogue

block apres-contenu
    include encarts/selections

block apres-contenu
    include encarts/selections
