section(class='chiffres-cles')
    h2 La cybersécurité, un secteur en plein essor
    ul
        li
            span(class='chiffre') 53&nbsp;400
            p Spécialistes cyber en France aujourd'hui, des milliers à pourvoir demain.
        li
            span(class='chiffre') 71%
            p Des spécialistes cyber n'ont pas étudié la cybersécurité
        li
            span(class='chiffre') 34&nbsp;856
            p Élèves en filières numériques pré-bac (en première et terminale)

    p(class='source') Source&nbsp;: CampusCyber, CyberScope
    