div(class='contributeurs')
    h4 Les contributeurs
    div(class='galerie')
        a(href='https://www.education.gouv.fr/' title='education.gouv.fr | Nouvelle fenêtre' target='_blank' rel='noopener noreferrer')
            img(src='/assets/images/contributeurs/MinistereEducation.svg' alt='Ministère de l\'Éducation')
        a(href='https://cyber.gouv.fr/' title='cyber.gouv.fr | Nouvelle fenêtre' target='_blank' rel='noopener noreferrer')
            img(src='/assets/images/contributeurs/ANSSI.svg' alt='ANSSI')
        a(href='https://campuscyber.fr/' title='campuscyber.fr | Nouvelle fenêtre' target='_blank' rel='noopener noreferrer')
            img(src='/assets/images/contributeurs/CampusCyber.svg' alt='Campus Cyber')
