extends fragments/base
block variables
  - var titrePage = "Inscription sur Demain\u200bSpécialiste\u200bCyber"
  - var descriptionPage = ""

block contenu
    dsc-creation-compte(informationsProfessionnelles= informationsProfessionnelles, token= token)
