extends fragments/base
block variables
  - var titrePage = `Inscription sur ${titreDSC}`
  - var descriptionPage = ""
  - var sansNavigation = true
  - var sansZoneIdentification = true

block contenu
    dsc-creation-compte(informationsProfessionnelles= informationsProfessionnelles, token= token)
