extends base
block variables
  - var titrePage = "Inscription sur DemainSpécialisteCyber"
  - var descriptionPage = ""

block contenu
    p Formulaire de création de compte
    dsc-creation-compte(informationsProfessionnelles= informationsProfessionnelles)
