section(class='cyberenjeux')
    h3 Découvrez les CyberEnJeux
    p(class='introduction') Former à la cybersécurité par le jeu&nbsp;!
    p L’ANSSI, en partenariat avec le ministère de l’Éducation nationale ont créé «&nbsp;CyberEnJeux&nbsp;», 
        strong un dispositif pédagogique innovant pour former à la cybersécurité par le jeu.
    p Au-delà de la sensibilisation aux risques numériques et aux bonnes pratiques individuelles, 
        strong CyberEnJeux vise à acculturer les élèves à plusieurs enjeux importants relatifs à la cybersécurité&nbsp;: 
        | le cyberespace, les cyberattaques, la cryptographie, la gestion des risques cyber, etc.
    p Dans le cadre de CyberEnJeux, la création de jeux par les élèves constitue donc un moyen d’apprentissage et non un objectif en soi.
   
    div(class='actions')
        button(type='button') Découvrir CyberEnJeux
        button(type='button') Explorer les jeux des élèves
   
    picture(class='illustration')
        img(src='/assets/images/boites-de-jeux.png' alt='CyberEnJeux')

    section(class='carrousel temoignages')
        article
            h4 Les élèves adorent&nbsp;!
            img(src='/assets/images/citation.svg' alt='')
            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim cursus at ullamcorper mauris non. Integer aliquam, scelerisque viverra sed enim interdum. In sem elit vivamus ut pellentesque leo eget lacus odio.
