extends base

block variables
  - var titrePage = "CyberEnJeux"
  - var descriptionPage = "L'outil pédagogique innovant pour former vos élèves aux enjeux de la cybersécurité par la création de jeux."
  - var classePage = "page-cyber-en-jeux"

block contenu
  dsc-cyber-en-jeux

block apres-contenu
