block variables
  - var titrePage = ""
  - var descriptionPage = ""
header(class='entete')
    div(class='haut')
        div(class='marque')
            img(src='/assets/images/marianne.svg' alt='Marianne')
            img(src='/assets/images/ANSSI.svg' alt='ANSSI')
        hgroup(class='titre')
            h1 DemainSpécialisteCyber
            p Innovation ANSSI
        nav(class='navigation-principale')
            button(type='button' aria-label='Menu')
                img(src='/assets/images/menu-gauffre.svg' alt='Menu')
            div(class='menu-principal')
                dsc-zone-identification
                menu
                    li
                        a(href='/') Accueil
                    li
                        a(href='/catalogue') Catalogue des ressources
                    li
                        a(href='/mes-jeux') Sélection enseignants

    block hero
        div(class='hero')
            nav(class='ariane' aria-label='Fil d\'Ariane')
                a(href='#') Voir le fil d'Ariane
            h2 #{titrePage}
            p #{descriptionPage}
