extends fragments/base

block variables
  - var titrePage = "Événements cyber"
  - var descriptionPage = "Visualisez l’ensemble des initiatives éducatives en cybersécurité."

block contenu
    p À venir
