extends base
block variables
  - var titrePage = "Demain Spécialiste Cyber"
  - var descriptionPage = "Promouvoir la formation des élèves à la cybersécurité et la découverte de ses métiers !"

block contenu
    p Contenu à venir
block apres-contenu
    include ./selections
    