nav(class='infos-legales')
    a(href='/a-propos') À propos
    a(href='/mentions-legales') Mentions légales
    a(href='/politique-confidentialite') Politique de confidentialité
    a(href='#') Conditions générales d'utilisation
    a(href='#') Statistiques d'utilisation
    a(href='#') Sécurité
    a(href='/accessibilite') Accessibilité&nbsp;: non conforme
