extends fragments/base
block variables
  - var titrePage = "Mes jeux"
  - var descriptionPage = "Partagez et gérez les jeux élaborés par vos élèves lors de séquence CyberEnJeux."

block contenu
    dsc-mes-jeux
