extends fragments/base
block variables
  - var titrePage = "Déposer un jeu"
  - var descriptionPage = ""
  - var sansNavigation = true

block hero
    dsc-heros(titre = titrePage description= descriptionPage)
        a.retour(
            href="/mes-jeux"
            slot="breadcrumb"
        )
          lab-anssi-icone(nom="arrow-left-line" taille="sm")
          |
          | Quitter

block contenu
    dsc-formulaire-nouveau-jeu