section(class='selections')
    h3 Nos sélections pour vous guider 
    article(id='enseignants' class='carte')
        h4 Sensibiliser les élèves à la cybersécurité
        p Des ressources clés-en-main pour acculturer vos élèves, les guider vers des formations reconnues et monter en compétences vous aussi sur les enjeux du numérique sécurisé.
        aside
            span(class='tag') Sélection enseignants
    article(id='eleves' class='carte')
        h4 Découvrir la cybersécurité et ses enjeux
        p Témoignages inspirants, podcasts captivants, tests pour s’orienter et des formations pour se lancer. Un véritable concentré de ressources pour explorer les métiers cyber et trouver sa voie.
        aside
            span(class='tag') Sélection élèves