extends base
block variables
  - var titrePage = "Sélection élèves"
  - var descriptionPage = "Découvrir, pratiquer, progresser : l’essentiel pour s’initier à la cybersécurité et ses métiers passionnants."

block contenu
    dsc-selection-eleves
