extends fragments/base
block variables
  - var titrePage = "Sélection enseignants"
  - var descriptionPage = "Formez, sensibilisez, accompagnez vos élèves… et développez aussi vos propres compétences en cybersécurité."

block contenu
    dsc-selection(cible="enseignants")
