#agir h2 {
  font-size: 2rem;
  text-align: center;
  padding: 40px 40px 0 40px;
}

#agir #agir-video {
  width: 100%;
  margin: 48px 0;
}

#agir button.action {
  font-size: 1.45rem;
  margin: 0 auto 56px auto;
}
