#formation-fond {
  background: var(--bleu-fonce);
  color: white;
}

#formation-fond .formations {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

#formation-fond .formation {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background: white;
  padding: 40px;
  color: var(--noir);
  max-width: 430px;
}

#formation-fond .formation .titre {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

#formation-fond .formation .details {
  font-size: 1rem;
  line-height: 1.5rem;
}

#formation-fond .action {
  margin: auto 0 0 0;
  font-size: 1.25rem;
  line-height: 2rem;
  width: fit-content;
}

#formation-fond .action::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url("../images/lien-externe.svg");
}
