body {
  color: white;
  height: 100vh;
  background: url("../images/lancement.svg") #13152a center no-repeat;
  background-size: cover;
}

#marianne {
  margin-top: 12px;
}

#lancement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
}

img#bloc-marque {
  max-width: 772px;
  min-width: 288px;
}

h1 {
  margin: 0;
  font-weight: 700;
}

#date-lancement {
  font-size: 6.25rem;
  line-height: 6.25rem;
}
