#marque {
  padding: 16px;
  background-color: var(--noir);
  color: white;
}

#burger {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 3px;
}

nav {
  display: flex;
  justify-content: space-between;
}

#marque img#bloc-marque {
  width: 100%;
  margin-top: 50px;
}

#marque h2 {
  text-transform: uppercase;
  text-align: justify;
  font-size: 3.6vw;
  margin: 0;
  padding-top: 17px;
}

#marque h2::after {
  content: "";
  display: inline-block;
  width: 100%;
}

#conteneur-carrousel {
  background: var(--noir);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

#conteneur-carrousel img {
  position: relative;
}

#conteneur-carrousel img:nth-child(2) {
  z-index: 2;
  transform: scale(1.1);
}
