#marque-fond {
  background: var(--bleu-fonce);
}

#marque-cadre {
  color: white;
  height: 632px;
  background: url("../images/hero.svg") no-repeat;
}

nav {
  height: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav .liens {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 28px;
}

nav .liens #espace-enseignant::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translateY(2px);
  margin-right: 8px;
  content: "";
  background: url("../images/cahier.svg");
}

#marque-cadre #bloc-marque {
  margin-top: 90px;
}

#marque-cadre p {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 33px;
}
