@media screen and (max-width: 768px) {
  #marque-cadre p {
    font-size: 1rem;
  }
  #marque-cadre img#bloc-marque {
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  #marque {
    width: 100%;
    max-width: none;
  }
  #marque-cadre p {
    font-size: 0.7rem;
  }
}
