:root {
  --bleu-fonce: #141425;
  --noir: #13142a;
  --gris: #13142a80;
  --jaune: #fed068;
  --fonts: Marianne, Arial, sans-serif;
}

body {
  font-family: var(--fonts);
  font-size: 14px;
  color: var(--noir);
  margin: 0;
}

.grand-ecran {
  max-width: 1440px;
  margin: auto;
}

.cadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cadre .titre-cadre {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  margin-top: 0;
  margin-bottom: 64px;
}

.cadre .action {
  display: flex;
  align-items: center;
  margin-top: 64px;
  padding: 10px 24px 14px 24px;
  justify-content: center;
  background: var(--noir);
  color: white;
  border: none;
  font: var(--fonts);
  cursor: pointer;
}

.gouttiere {
  margin-left: 108px;
  margin-right: 120px;
}

#marque-fond {
  background: var(--bleu-fonce);
}

#marque-cadre {
  color: white;
  height: 632px;
  background: url("../images/hero.svg") no-repeat;
}

nav {
  height: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav .liens {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 28px;
}

nav .liens #espace-enseignant::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translateY(2px);
  margin-right: 8px;
  content: "";
  background: url("../images/cahier.svg");
}

#marque-cadre #bloc-marque {
  margin-top: 90px;
}

#marque-cadre p {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 33px;
}

#agir-cadre .titre-cadre {
  color: var(--noir);
}

#metiers-fond {
  background: linear-gradient(to bottom, var(--jaune) 60%, white 60%);
}

#metiers-cadre .carrousel-fiches-metiers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 24px;
}

#metiers-cadre .fiche-metier .identite {
  color: var(--gris);
  font-size: 1.13rem;
  font-weight: 700;
  margin-top: 16px;
}

#metiers-cadre .fiche-metier {
  max-width: 384px;
}

#metiers-cadre .fiche-metier .metier {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
}

#metiers-cadre .fiche-metier .en-savoir-plus {
  font-size: 1.13rem;
  font-weight: 400;
  margin-top: 24px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}
