:root {
  --bleu-fonce: #141425;
}

body {
  font-family: Marianne, Arial, sans-serif;
  font-size: 14px;
}

.cadre {
  max-width: 1440px;
  padding-left: 108px;
  padding-right: 120px;
  margin: auto;
}

#marque-fond {
  background: var(--bleu-fonce);
}

#marque-cadre {
  color: white;
  height: 632px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--bleu-fonce);
  background: var(--bleu-fonce);
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav .liens {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 28px;
}

nav .liens #espace-enseignant::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translateY(2px);
  margin-right: 8px;
  content: "";
  background: url("/assets/images/cahier.svg");
}

#marque-cadre #bloc-marque {
  margin-top: 105px;
}

#marque-cadre h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 33px;
}
