:root {
  --bleu-fonce: #141425;
  --noir: #13142a;
  --gris: #13142a80;
  --jaune: #fed068;
  --rouge: #e15143;
  --fonts: Marianne, Arial, sans-serif;
}

body {
  font-family: var(--fonts);
  font-size: 14px;
  color: var(--noir);
  margin: 0;
}

.piste {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 120px;
}

.grand-ecran {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.cadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.cadre .titre-cadre {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  margin-top: 0;
  margin-bottom: 64px;
}

.cadre .action {
  display: flex;
  align-items: center;
  margin-top: 64px;
  padding: 10px 24px 14px 24px;
  justify-content: center;
  background: var(--noir);
  color: white;
  border: none;
  font: var(--fonts);
  cursor: pointer;
}

#marianne {
  width: 118px;
  transform: translateX(-12px);
}
