@media screen and (min-width: 1024px) {
  #stats {
    background-image: unset;
    padding-top: 114px;
    padding-bottom: 78px;
  }
  #infos-boite {
    max-width: 1200px;
    margin: auto;
  }
  #infos {
    width: 50%;
    align-self: flex-start;
  }
}
