#stats-fond {
  background: #f6f6f6;
}

#stats-cadre {
  background: url(../images/action-cyberdefense.svg) no-repeat right;
}

#stats-cadre .gouttiere {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 25px;
}

#stats-cadre .info {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

#stats-cadre .info .titre {
  font-weight: 800;
  margin-bottom: 16px;
}

#stats-cadre .info .source {
  align-self: flex-end;
  display: flex;
  font-size: 1.1rem;
  line-height: 1.7rem;
  border-bottom: 1px solid white;
}

#stats-cadre .info .source {
  margin-top: 18px;
}

#stats-cadre .info .source::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url("../images/lien-externe.svg");
}

#stats-cadre .info-1 {
  width: 689px;
  background: #234c9a;
}

#stats-cadre .info-1 .titre {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

#stats-cadre .info-1 .details {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
}

#stats-cadre .info-2 {
  width: 384px;
  background: var(--rouge);
}

#stats-cadre .info-2 .titre {
  font-size: 2.1rem;
  line-height: 2.5rem;
}

#stats-cadre .info-2 .details {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

#stats-cadre .info-3 {
  width: 218px;
  background: var(--noir);
}

#stats-cadre .info-3 .titre {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1rem;
  margin-bottom: 4px;
}

#stats-cadre .info-3 .details {
  font-size: 1.1rem;
  line-height: 1.8rem;
}
