@use 'sass:map';

$couleurs-bouton: (
  primaire-couleur-fond: #000091,
  primaire-couleur-fond-survol: #0c5c98,
  couleur-fond-clique: #09416a,
  primaire-couleur-texte: #ffffff,
);

$toutes-couleurs: (
  'bouton': $couleurs-bouton,
);

:root {
  --bleu-profond-dsc: #131429;

  @each $categorie, $map in $toutes-couleurs {
    @each $nom, $valeur in map.get($map: $toutes-couleurs, $key: $categorie) {
      --#{$categorie}-#{$nom}: #{$valeur};
    }
  }

  // Les variables de thème
  --brique-carrousel-bouton-action-texte-couleur: var(--grey-50-1000);
  --brique-temoignages-titre-couleur: var(--grey-50-1000);
  --brique-temoignages-icone-couleur: #ce614a;
}
