@use "./points-de-rupture" as * ;

.chiffres-cles {
  background-color: #F3F6FE;
  padding: 3.5rem 1rem;

  h2 {
    margin: 0;
  }

  ul {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    margin: 3rem 0;

    li {
      align-items: center;
      display: flex;
      flex: 1 0 100%;
      flex-flow: column;
      text-align: center;

      .chiffre {
        color: var(--text-title-blue-france);
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.5rem;
        margin-bottom: 1rem;
      }

      p {
        color: #3A3A3A;
        max-width: 24rem;
        margin: 0;
      }
    }
  }

  @include a-partir-de(lg){
    ul {
      flex-direction: row;
      li {
        flex: 33%;
      }
    }
  }


  .source {
    color: #666;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
