@use 'points-de-rupture' as *;

.cyberenjeux {
  padding: 4.5rem 0 0;

  .fr-h1 {
    text-align: center;
    margin-bottom: 6rem;
  }

  .grille {
    display: grid;
    grid-template-areas:
      'titre'
      'contenu'
      'actions'
      'illustration';

    @include a-partir-de(lg) {
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
      grid-template-areas:
        'titre illustration'
        'contenu illustration'
        'actions illustration';
    }

    .fr-h2 {
      grid-area: titre;
      margin-bottom: 0.75rem;
    }

    p {
      grid-area: contenu;
      margin-top: 0.75rem;
      margin-bottom: 2rem;
    }

    .actions {
      grid-area: actions;
      display: flex;
      flex-flow: row wrap;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    img {
      grid-area: illustration;
      display: block;
      width: 100%;
      align-self: center;
    }
  }
}
