@use 'points-de-rupture' as *;

.entete {
  .haut {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 78px 73px;
    grid-template-areas: "marque menu"
      "titre titre";

    justify-content: center;
    margin: 0.75rem 1rem 0;

    .marque {
      grid-area: marque;

      img[alt='Marianne'] {
        transform: translateX(-1rem);
        width: 138px;
      }

      img[alt='ANSSI'] {
        width: 66px;
      }
    }

    .titre {
      border-top: 1px solid #ddd;
      grid-column: 1 / span 3;
      grid-row: 2;
      padding: 0.75rem 1rem;

      h1,
      p {
        margin: 0;
      }

      h1 {
        color: #161616;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }

      p {
        color: #3A3A3A;
        font-size: 0.875rem;
      }
    }

    .navigation-principale {
      align-items: start;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      grid-column: 3;
      grid-row: 1;
      margin-bottom: 0;

      transform: translateX(0.5rem);

      button {
        padding: 0.5rem;

        img {
          width: 24px;
        }
      }

      .menu-principal {
        display: none;
      }

      menu {
        border-top: 1px solid #ddd;
        display: none;
        list-style: none;

        &,& >li {
          margin: 0;
          padding: 0;
        }

        & > li {
          border-bottom: 2px solid transparent;
          flex: 0 0 auto;
          padding: 1rem;
          line-height: 1.5rem;
          vertical-align: center;
        }
      }
    }

    @include a-partir-de(lg) {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: 98px 56px;
      grid-template-areas: 
        "marque titre droite"
        "menu menu menu";
      margin: 0;
      padding: 0.75rem 0 0;

      transform: none;

      .marque{
        padding-left: 1rem;
      }

      .titre {
        border-top: 0;
        grid-column: 2;
        grid-row: 1;
      }

      .navigation-principale {
        grid-column: 1 / -span 3;
        grid-row: 1 / span 2;
        padding-right: 1rem;

        button {
          display: none;
        }

        .menu-principal {
          align-items: stretch;
          display: grid;
          grid-column: 1 / span 4;
          grid-row: 1 / span 2;
          grid-template-columns: subgrid;
          grid-template-rows: subgrid;
          grid-template-areas: "marque titre droite"
            "menu menu menu";

          dsc-zone-identification {
            align-self: center;
            grid-area: droite;
            display: block;
            grid-column: 3;
          }

          menu {
            align-items: stretch;
            display: flex;
            flex-flow: row nowrap;
            grid-column: 1 / span 3;
          }
        }
      }
    }
  }

  .hero {
    background: linear-gradient(90deg,
        #131429 52.81%,
        rgba(19, 20, 41, 0) 100%);
    background-color: #000091;
    color: #fff;
    padding: 1rem 1rem 1.5rem;
  }
}