@use 'points-de-rupture' as *;

.entete {
  .hero {
    background: linear-gradient(
      90deg,
      var(--bleu-profond-dsc) 52.81%,
      rgba(19, 20, 41, 0) 100%
    );
    background-color: #000091;
    color: #fff;
    padding: 1rem 1rem 1.5rem;
  }
}
