
* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Marianne';
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  color: var(--text-default-grey)
}

.carte {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
  padding: 2rem;
}

/* règle les problèmatiques de décalage de contenu avant le chargement complet (CLS)*/

dsc-entete {
  min-height: 162px;
  display: block;
}

header {
  &.entete {
    dsc-heros {
      display: block;
      min-height: 145px;
    }
  }
}


.page-accueil {
  .entete {
    .heros {
      .conteneur {
        .actions {
          min-height: 40px;
        }
      }
    }
  }

  .intro {
    .carrousel {
      min-height: 410px;
    }

    dsfr-button {
      min-height: 40px;
    }
  }
}

.page-catalogue {
  .entete {
    dsc-heros {
      min-height: 245px;
    }
  }
  dsc-catalogue {
    display: block;
    min-height: 968px;
  }
}
