.page-cgu {
  .cgu {
    padding-bottom: 3rem;

    h2 {
      margin-top: 2rem;
    }

    address {
      font-style: normal;
    }

    ul {
      margin-left: 2rem;
      list-style-type: disc;
    }
  }
}
