@use 'points-de-rupture' as *;

.page-accueil {
  .entete {
    .heros {
      display: flex;
      flex-direction: column;
      padding: 3rem 0 18.5rem;
      background: var(--bleu-profond-dsc) url(/assets/images/hero-accueil.svg)
        no-repeat center 160px;
      background-size: auto 138%;
      position: relative;

      @include a-partir-de(md) {
        background: var(--bleu-profond-dsc) url(/assets/images/hero-accueil.svg)
          no-repeat center -20px;
        background-size: auto 180%;
      }

      @include a-partir-de(lg) {
        padding: 6.375rem 0;
        background: var(--bleu-profond-dsc) url(/assets/images/hero-accueil.svg)
          no-repeat top -337px right -80px;
        background-size: auto 230%;
      }

      .conteneur {
        position: relative;

        @include a-partir-de(lg) {
          max-width: 588px;
        }

        .titre-alternatif-xs {
          margin: 0;
        }

        p {
          margin-top: 0.5rem;
          margin-bottom: 2rem;
        }

        .actions {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @include a-partir-de(sm) {
            flex-direction: row;
          }
        }
        &:after {
          content: '';
          position: absolute;
          background: url(/assets/images/persos-accueil.svg) no-repeat center;
          bottom: -18.5rem;
          right: calc(50% - 10rem);
          height: 253px;
          width: 20rem;

          @include a-partir-de(lg) {
            height: 350px;
            width: 488px;
            bottom: -6.375rem;
            right: -500px;
            background-size: contain;
          }
        }
      }
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0;

    hgroup {
      margin: 0 auto;
      width: clamp(220px, 100%, 828px);

      h2 {
        margin-bottom: 1rem;
        text-align: center;

        + p {
          text-align: center;
        }
      }
    }

    .carrousel {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      padding: 4px;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      @include a-partir-de(md) {
        gap: 1.5rem;
        justify-content: center;
      }

      dsfr-card {
        width: 16.25rem;
        min-width: 16.25rem;
        scroll-snap-align: center;
      }
    }

    dsfr-button {
      margin: 0 auto;
    }
  }
}
