@use 'points-de-rupture' as *;

fieldset {
  border: 0;
  margin-bottom: 1rem;
  padding: 0;

  legend {
    padding-right: 0.5rem;
  }
}

ul {
  list-style-type: none;
}

ul,
ul > li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  align-self: stretch;
  background-color: var(--border-default-grey);
  border: 0;
  margin: 0;
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-title-grey);
  font-style: normal;
  font-weight: bold;
  margin: 0 0 1.5rem;

  .sombre &,
  &.inverse {
    color: var(--text-inverted-grey);
  }
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;

  @include a-partir-de(md) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include a-partir-de(md) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;

  @include a-partir-de(md) {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

h4 {
  font-size: 1.375rem;
  line-height: 1.75rem;

  @include a-partir-de(md) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include a-partir-de(md) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;

  @include a-partir-de(md) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.titre-alternatif-xs {
  color: var(--text-title-grey);
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  margin: 0 0 2rem;

  .sombre & {
    color: var(--text-inverted-grey);
  }

  @include a-partir-de(md) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

p {
  margin: 0;

  .sombre &,
  &.inverse {
    color: var(--text-inverted-grey);
  }
}

.fr-text--lead {
  font-size: 1.25rem;
  line-height: 2rem;
}

.fr-text--lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.fr-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.fr-text--sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.fr-text--xs {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
