@use 'fonts';
@use 'global';
@use 'standard';
@use 'couleurs';

@use 'entete';

@use 'encart-selections';
@use 'encart-cyberenjeux';
@use 'encart-chiffres-cles';
@use 'encart-soutiens';

@use 'pages-annexes';
@use 'page-statistiques';

@use 'page-accueil';
@use 'page-cyber-en-jeux';
@use 'page-connexion';
@use 'page-404';
@use 'page-evenements';
@use 'page-non-autorise';
@use 'page-nouveau-jeu';
@use 'page-selection-enseignants';
