@use 'fonts';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Marianne';
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

fieldset {
  border: 0;
  margin-bottom: 1rem;
  padding: 0;

  legend {
    padding-right: 0.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem; 
}

ul {
  list-style-type: none;
}

ul,
ul > li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

// entête
header {
  .haut {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    margin: 0.75rem 1rem;

    .marque {
      img[alt='Marianne'] {
        transform: translateX(-1rem);
        width: 138px;
      }

      img[alt='ANSSI'] {
        width: 66px;
      }
    }

    nav {
      transform: translateX(0.5rem);

      button {
        padding: 0.5rem;
        img {
          width: 24px;
        }
      }

      .menu-principal {
        display: none;
      }
    }
  }

  .titre {
    padding: 0.75rem 1rem;

    h1,
    p {
      margin: 0;
    }

    h1 {
      color: #161616;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    p {
      color: #3A3A3A;
      font-size: 0.875rem;
    }
  }

  .hero {
    background: linear-gradient(
      90deg,
      #131429 52.81%,
      rgba(19, 20, 41, 0) 100%
    );
    background-color: #000091;
    color: #fff;
    padding: 1rem 1rem 1.5rem;
  }
}

// Sélections
.selections {
  background-color: #a94645;
  color: #fff;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  padding: 3.5rem 1rem;

  h3 {
    margin: 0 0 0.5rem;
  }

  .carte {
    padding: 2rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

// Pied de page
footer {
  border-top: 2px solid #000091;
  padding: 0 1rem;

  > *:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  .demain-spe-cyber {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;

    a > img {
      transform: translateX(-1rem);
    }

    img[alt='Marianne'] {
      width: 174px;
    }

    p {
      margin: 0.5rem 0 0;
    }

    .liens {
      display: flex;
      flex-flow: row wrap;
      font-weight: bold;
      gap: 1rem 1.25rem;
      margin-top: 1.5rem;
    }
  }

  .contributeurs {
    padding-bottom: 1.5rem;

    h4 {
      color: #3a3a3a;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin: 0.94rem 0 0.75rem;
    }

    .galerie {
      display: flex;
      flex-flow: row wrap;
      gap: 2rem;

      img[alt='ANSSI'] {
        width: 90px;
      }
    }
  }

  .infos-legales {
    color: #666;
    display: inline-flex;
    flex-flow: row wrap;
    font-size: 0.75rem;
    line-height: 1.25rem;
    gap: 1rem 0;
    padding-top: 1rem;

    a:not(:last-child) {
      border-right: 1px solid #ddd;
      margin-right: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.cyberenjeux {
  padding: 4.5rem 1rem;

  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 6rem;
  }

  

  p {
    font-size: 1rem;
    line-height: 1.5rem; 
    margin-bottom: 2rem;

    &.introduction {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2.25rem;
      margin-bottom: 0.75rem;
    }
  }

  .actions {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem; 
    margin-bottom: 2rem;
  }

  .illustration {
    background: url('/assets/images/blob.svg') no-repeat center;
    background-size: calc(100% - 80px) auto; // Ce calcul affiche l'image de fond correctement suivant la maquette
    display: block;
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 10px 23px;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      padding: 1.18rem 1.66rem;
      width: 100%;
    }
  }

  .temoignages {
    h4 {
      font-size: 1.75rem;
      font-weight: normal;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }

    blockquote {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 2rem;
      margin: 0;
      padding: 0;

      &::before{
        content: '« ';
      }

      &::after {
        content: ' »';
      }
    }
  }
}

.intro {
  padding: 3.5rem 1rem;

  h2 {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    text-align: center;

    + p{
      text-align: center;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
  }
  
  .carrousel {
    margin: 3rem 0;

    .carte {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25) inset;
      height: 330px;
      max-width: 260px;

      h4 {
        color: #666;
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        color: #000091;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.5rem;
        overflow: hidden;
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}

.carte {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    padding: 2rem;
}

.chiffres-cles {
  background-color: #F3F6FE;
  padding: 3.5rem 1rem;

  h2 {
    color: #161616;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.25rem;
    margin: 0;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    margin: 3rem 0;

    li {
      align-items: center;
      display: flex;
      flex: 1 0 100%;
      flex-flow: column;
      text-align: center;

      .chiffre {
        color:  #000091;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.5rem;
        margin-bottom: 1rem;
      }

      p {
        color: #3A3A3A;
        margin: 0;
      }
    }
  }

  .source {
    color: #666;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.soutiens {
  padding: 3.5rem 1rem;
  
  h2 {
    color: #161616;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 2.25rem;
    margin: 0 0 2rem;
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem 5.5rem;

    li {
      align-items: center;
      display: grid;
      flex: 2 1 100%;
      justify-items: center;
      
      img[alt='ComCyberGend'] {
        width: 112px;
      }

      &:has(img[alt='PIX']),
      &:has(img[alt='France 2030']) 
      {        
        flex: 1 0 auto;
        width: calc(50% - 3.5rem);
      }
    }
  }
}