@use 'style/fonts';
@use 'style/global';
@use 'style/standard';
@use 'style/couleurs';

@use 'style/entete';
@use 'style/contenu-deux-colonnes';

@use 'style/encart-selections';
@use 'style/encart-cyberenjeux';
@use 'style/encart-chiffres-cles';
@use 'style/encart-soutiens';

@use 'style/pages-annexes';
@use 'style/page-statistiques';

@use 'style/page-accueil';
@use 'style/page-cyber-en-jeux';
@use 'style/page-connexion';
@use 'style/page-404';
@use 'style/page-evenements';
@use 'style/page-non-autorise';
@use 'style/page-nouveau-jeu';
@use 'style/page-selection-enseignants';
