body {
  background: #f6f6f6;
}

.contenu-informatif {
  padding: 0 16px 56px 16px;
}

.contenu-informatif a {
  color: var(--noir);
  text-decoration: underline;
}

.contenu-informatif h1 {
  margin-top: 23px;
  margin-bottom: 56px;
  font-size: 2.85em;
}

.contenu-informatif h2 {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 2em;
}

.contenu-informatif p {
  font-size: 1.28em;
  margin-top: 0;
  margin-bottom: 32px;
}

.contenu-informatif ul {
  margin-top: 0;
  padding-left: 16px;
}

.contenu-informatif li {
  font-size: 1.28em;
}
